#navBarBrand {
    color: palevioletred;
}
#navBar {
    background-color: white;
}
#navBarDiv {
    border-top: 5px solid #0a0c24;
    border-bottom:  5px solid #0a0c24;
}
#navBarDivIn {
    border-top: 20px solid #ebf7f6;
    border-bottom: 20px solid #ebf7f6;
}